body {
  text-align: center;
  font-size: 22px;
  padding: 0;
  margin: 0;
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  margin: 12% 30%;
  border: 7px solid lightseagreen;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  font-weight: 800;
}

.box span > i {
  font-size: 20px;
  margin: 2%;
  cursor: pointer;
}

.insert-form {
  margin: 2%;
}

.insert-form > input {
  width: 45%;
  height: 100%;
  border-radius: 10px;
  border: 3px solid lightseagreen;
  font-size: 25px;
  padding: 0% 5%;
}

.insert-form > button {
  width: 8%;
  height: 100%;
  padding-block: 2% 2%;
  padding-inline: 2% 2%;
  font-size: 20px;
  background-color: transparent;
  margin: 0;
  cursor: pointer;
  border-radius: 10px;
  border: 3px solid lightseagreen;
}

.insert-form > button:hover {
  background-color: lightseagreen;
  border: 1px solid bisque;
  color: white;
}

.todo-el {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-inline: 5% 5%;
  padding-block: 5% 5%;
  cursor: pointer;
}

.todo-el:hover {
  background-color: rgb(243, 235, 225);
  border: dashed;
  cursor: grab;
}

.todo-el input[type='checkbox'] {
  transform: scale(1.8);
  cursor: pointer;
}

.todo-el p {
  width: 50%;
  text-align: left;
}

.completed p {
  text-decoration: line-through;
}
.trash {
  width: 10%;
  border-radius: 25px;
}

.trash:hover {
  border: dotted;
}

.eraser {
  margin: 2% 2%;
}

.eraser > button {
  background-color: transparent;
  margin: 0;
  padding: 2% 30%;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;
  border: 3px solid lightseagreen;
}

.eraser > button:hover {
  background-color: lightseagreen;
  border: 1px solid bisque;
  color: white;
}
